# Python virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store

# VSCode settings (optional)
.vscode/

# Data and outputs (optional, if not needed in Git)
data/

outputs/
